In [1]:
import pandas as pd
import re

In [3]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et_xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Các thông tin cơ bản của bộ dữ liệu

In [10]:
#Gộp 3 sheet SE Reginal Sales tháng 10, 11, 12 thành 1 file SE Regional Sales.xlsx
sales_data = pd.read_excel('SE Regional Sales.xlsx')
customer_data = pd.read_excel('Customer.xlsx')

# Hiển thị thông tin cơ bản về dữ liệu
print("Thông tin dữ liệu bán hàng:")
print(sales_data.info())

print("\nThông tin dữ liệu khách hàng:")
print(customer_data.info())


print("\nDữ liệu bán hàng:")
print(sales_data.head())

print("\nDữ liệu khách hàng:")
print(customer_data.head())

Thông tin dữ liệu bán hàng:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order ID             3000 non-null   int64
 1   Customer Last Name   3000 non-null   object
 2   Customer First Name  3000 non-null   object
 3   Customer ID          3000 non-null   int64
 4   Product Category     3000 non-null   object
 5   Order Date           3000 non-null   datetime64[ns]
 6   Quantity Ordered     3000 non-null   int64
 7   Order Status         3000 non-null   object
 8   State                3000 non-null   object
 9   Manufacturer Price   3000 non-null   int64
 10  Sale Price           3000 non-null   int64
 11  Total Profit         3000 non-null   int64
 12  Sales Agent          3000 non-null   object
 13  Return Reason        309 non-null    object
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 328.3+ KB
None

Thông tin dữ liệu khách hàng:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer Last Name   1000 non-null   object
 1   Customer First Name  1000 non-null   object
 2   Customer ID          1000 non-null   int64
 3   Product Category     1000 non-null   object
 4   Order Date           1000 non-null   datetime64[ns]
 5   Quantity Ordered     1000 non-null   int64
 6   Order Status         1000 non-null   object
 7   State                1000 non-null   object
 8   Address              1000 non-null   object
 9   City                 1000 non-null   object
 10  Postal Code          1000 non-null   int64
 11  Sale Price           1000 non-null   int64
 12  Phone                1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 101.7+ KB
None

Dữ liệu bán hàng:
   Order ID  Customer Last Name Customer First Name  Customer ID  \
0       1001             Hughes               Lewis         1234
1       1002              Gomez                 Ali         1235
2       1003               Beck                Mila         1236
3       1004             Juarez             Ryleigh         1237
4       1005            Preston            Leonidas         1238

  Product Category Order Date  Quantity Ordered Order Status State  \
0         Clothing 2022-10-11                16    Delivered    LA
1   Home & Kitchen 2022-10-09                11    Delivered    LA
2    Personal Care 2022-10-21                 4      Shipped    GA
3    Personal Care 2022-10-26                20    Cancelled    NC
4      Electronics 2022-10-22                 9      Shipped    GA

   Manufacturer Price  Sale Price  Total Profit  Sales Agent Return Reason
0                1485        1880            395       Kelly           NaN
1                1310        1602            292       Brian           NaN
2                 800         891             91    Terrence           NaN
3                1190        1462            272       Brian     Defective
4                 470         525             55      Daniel           NaN

Dữ liệu khách hàng:
  Customer Last Name Customer First Name  Customer ID Product Category  \
0             Hughes               Lewis         1234         Clothing
1              Gomez                 Ali         1235   Home & Kitchen
2               Beck                Mila         1236    Personal Care
3             Juarez             Ryleigh         1237    Personal Care
4            Preston            Leonidas         1238      Electronics

  Order Date  Quantity Ordered Order Status State                 Address  \
0 2022-12-24                12    Delivered    LA   49458 Glenwood Avenue
1 2022-12-06                 2   In Transit    LA        11591 River Road
2 2022-12-01                 7    Delivered    GA    48087 Jackson Street
3 2022-12-25                 9    Delivered    NC  46798 Hillcrest Avenue
4 2022-12-29                 9      Shipped    GA   65693 Mulberry Street

               City  Postal Code  Sale Price         Phone
0        Shreveport        71101         564  504-870-1437
1         Covington        70433         777  337-400-1567
2           Atlanta        30303        1829  404-573-7088
3          Columbia        29201         227  252-325-9603
4  Avondale Estates        30002        1355  404-383-9724

# Xử lý trùng lặp nếu có

In [19]:
print("Số lượng dòng dữ liệu bán hàng ban đầu: ", len(sales_data))
print("Số lượng dòng dữ liệu khách ban đầu: ", len(customer_data))
# Kiểm tra và loại bỏ các dòng trùng lặp trong dữ liệu bán hàng
sales_data = sales_data.drop_duplicates()
print("Số lượng dòng sau khi loại bỏ trùng lặp trong dữ liệu bán hàng:", len(sales_data))

# Kiểm tra và loại bỏ các dòng trùng lặp trong dữ liệu khách hàng
customer_data = customer_data.drop_duplicates()
print("Số lượng dòng sau khi loại bỏ trùng lặp trong dữ liệu khách hàng:", len(customer_data))

Số lượng dòng dữ liệu bán hàng ban đầu:  3000
Số lượng dòng dữ liệu khách ban đầu:  1000
Số lượng dòng sau khi loại bỏ trùng lặp trong dữ liệu bán hàng: 3000
Số lượng dòng sau khi loại bỏ trùng lặp trong dữ liệu khách hàng: 1000

Số lượng dòng không đổi nghĩa là không có dữ liệu trùng lặp

# Xử lý giá trị thiếu nếu có

In [12]:
# Kiểm tra giá trị thiếu trong dữ liệu bán hàng
print("Giá trị thiếu trong dữ liệu bán hàng:")
print(sales_data.isnull().sum())

# Kiểm tra giá trị thiếu trong dữ liệu khách hàng
print("Giá trị thiếu trong dữ liệu khách hàng:")
print(customer_data.isnull().sum())

Giá trị thiếu trong dữ liệu bán hàng:
Order ID                  0
Customer Last Name        0
Customer First Name       0
Customer ID               0
Product Category          0
Order Date                0
Quantity Ordered          0
Order Status              0
State                     0
Manufacturer Price        0
Sale Price                0
Total Profit              0
Sales Agent               0
Return Reason          2691
dtype: int64
Giá trị thiếu trong dữ liệu khách hàng:
Customer Last Name     0
Customer First Name    0
Customer ID            0
Product Category       0
Order Date             0
Quantity Ordered       0
Order Status           0
State                  0
Address                0
City                   0
Postal Code            0
Sale Price             0
Phone                  0
dtype: int64

# Kiểm tra độ chính xác

In [13]:
# Kiểm tra kiểu dữ liệu
print("Kiểu dữ liệu của dữ liệu bán hàng:")
print(sales_data.dtypes)

print("\nKiểu dữ liệu của dữ liệu khách hàng:")
print(customer_data.dtypes)

# Chuyển đổi kiểu dữ liệu 
sales_data['Order Date'] = pd.to_datetime(sales_data['Order Date']).dt.date

# Kiểm tra tính nhất quán (các giá trị trong cột Order)
print("Các giá trị duy nhất trong cột trạng thái bán hàng:")
print(sales_data['Order Status'].unique())


print(sales_data.describe())

Kiểu dữ liệu của dữ liệu bán hàng:
Order ID                        int64
Customer Last Name             object
Customer First Name            object
Customer ID                     int64
Product Category               object
Order Date             datetime64[ns]
Quantity Ordered                int64
Order Status                   object
State                          object
Manufacturer Price              int64
Sale Price                      int64
Total Profit                    int64
Sales Agent                    object
Return Reason                  object
dtype: object

Kiểu dữ liệu của dữ liệu khách hàng:
Customer Last Name             object
Customer First Name            object
Customer ID                     int64
Product Category               object
Order Date             datetime64[ns]
Quantity Ordered                int64
Order Status                   object
State                          object
Address                        object
City                           object
Postal Code                     int64
Sale Price                      int64
Phone                          object
dtype: object
Các giá trị duy nhất trong cột trạng thái bán hàng:
['Delivered' 'Shipped' 'Cancelled' 'In Transit']
         Order ID   Customer ID  Quantity Ordered  Manufacturer Price  \
count  3000.000000  3000.000000       3000.000000         3000.000000
mean   2500.500000  1731.996000         10.503333          751.140000
std     866.169729   288.117661          5.785656          430.121206
min    1001.000000  1234.000000          1.000000           10.000000
25%    1750.750000  1482.750000          6.000000          375.000000
50%    2500.500000  1731.500000         11.000000          750.000000
75%    3250.250000  1981.250000         15.000000         1125.000000
max    4000.000000  2231.000000         20.000000         1500.000000

        Sale Price  Total Profit
count  3000.000000    3000.000000
mean    901.574667     150.434667
std     519.127439     100.094609
min      11.000000       1.000000
25%     445.750000      68.000000
50%     891.000000     136.500000
75%    1347.750000     220.000000
max    1935.000000     441.000000

In [14]:
sales_data.head(10)

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit,Sales Agent,Return Reason
0,1001,Hughes,Lewis,1234,Clothing,2022-10-11,16,Delivered,LA,1485,1880,395,Kelly,NaN
1,1002,Gomez,Ali,1235,Home & Kitchen,2022-10-09,11,Delivered,LA,1310,1602,292,Brian,NaN
2,1003,Beck,Mila,1236,Personal Care,2022-10-21,4,Shipped,GA,800,891,91,Terrence,NaN
3,1004,Juarez,Ryleigh,1237,Personal Care,2022-10-26,20,Cancelled,NC,1190,1462,272,Brian,Defective
4,1005,Preston,Leonidas,1238,Electronics,2022-10-22,9,Shipped,GA,470,525,55,Daniel,NaN
5,1006,Jacobs,Hayden,1239,Home & Kitchen,2022-10-01,11,Shipped,SC,115,134,19,Kelly,NaN
6,1007,Knox,Brooke,1240,Electronics,2022-10-27,1,Shipped,SC,755,833,78,Brian,NaN
7,1008,Rice,Diana,1241,Home & Kitchen,2022-10-05,12,Shipped,SC,935,1091,156,Brian,NaN
8,1009,Valencia,Rosalie,1242,Personal Care,2022-10-21,8,Delivered,AL,545,652,107,Terrence,NaN
9,1010,Pierce,Andre,1243,Home & Kitchen,2022-10-11,19,Delivered,SC,435,522,87,Terrence,NaN

In [15]:

# In các giá trị duy nhất trong cột 'Customer ID'
unique_customer_ids = sales_data['Customer ID'].unique()
print("Các giá trị duy nhất:")
print(unique_customer_ids)

# Đếm số lượng các giá trị duy nhất
num_unique_customer_ids = len(unique_customer_ids)
print(f"Tổng số các giá trị duy nhất trong cột 'Customer ID': {num_unique_customer_ids}")

Các giá trị duy nhất:
[1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247
 1248 1249 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261
 1262 1263 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275
 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289
 1290 1291 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301 1302 1303
 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316 1317
 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330 1331
 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344 1345
 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359
 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373
 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 1386 1387
 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399 1400 1401
 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414 1415
 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425 1426 1427 1428 1429
 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439 1440 1441 1442 1443
 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457
 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471
 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485
 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499
 1500 1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 1511 1512 1513
 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523 1524 1525 1526 1527
 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537 1538 1539 1540 1541
 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552 1553 1554 1555
 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565 1566 1567 1568 1569
 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583
 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597
 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611
 1612 1613 1614 1615 1616 1617 1618 1619 1620 1621 1622 1623 1624 1625
 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635 1636 1637 1638 1639
 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649 1650 1651 1652 1653
 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664 1665 1666 1667
 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679 1680 1681
 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695
 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709
 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723
 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735 1736 1737
 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747 1748 1749 1750 1751
 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763 1764 1765
 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777 1778 1779
 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792 1793
 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805 1806 1807
 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821
 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833 1834 1835
 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849
 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863
 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877
 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891
 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905
 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919
 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933
 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947
 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031
 2032 2033 2034 2035 2036 2037 2038 2039 2040 2041 2042 2043 2044 2045
 2046 2047 2048 2049 2050 2051 2052 2053 2054 2055 2056 2057 2058 2059
 2060 2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 2071 2072 2073
 2074 2075 2076 2077 2078 2079 2080 2081 2082 2083 2084 2085 2086 2087
 2088 2089 2090 2091 2092 2093 2094 2095 2096 2097 2098 2099 2100 2101
 2102 2103 2104 2105 2106 2107 2108 2109 2110 2111 2112 2113 2114 2115
 2116 2117 2118 2119 2120 2121 2122 2123 2124 2125 2126 2127 2128 2129
 2130 2131 2132 2133 2134 2135 2136 2137 2138 2139 2140 2141 2142 2143
 2144 2145 2146 2147 2148 2149 2150 2151 2152 2153 2154 2155 2156 2157
 2158 2159 2160 2161 2162 2163 2164 2165 2166 2167 2168 2169 2170 2171
 2172 2173 2174 2175 2176 2177 2178 2179 2180 2181 2182 2183 2184 2185
 2186 2187 2188 2189 2190 2191 2192 2193 2194 2195 2196 2197 2198 2199
 2200 2201 2202 2203 2204 2205 2206 2207 2208 2209 2210 2211 2212 2213
 2214 2215 2216 2217 2218 2219 2220 2221 2222 2223 2224 2225 2226 2227
 2228 2229 2230 2231]
Tổng số các giá trị duy nhất trong cột 'Customer ID': 998

In [16]:
unique_customer_ids = sales_data['Return Reason'].unique()
print("Các giá trị duy nhất:")
print(unique_customer_ids)

Các giá trị duy nhất:
[nan 'Defective' 'Late Delivery' 'Quality Issue' 'Received Wrong Item'
 'Unsatisfied']

In [17]:
# Đếm số lượng dòng có dữ liệu trong cột 'Return Reason'
non_empty_return_reasons = sales_data['Return Reason'].dropna()
num_non_empty_rows = non_empty_return_reasons.shape[0]

print(f"Số lượng dòng có dữ liệu trong cột 'Return Reason': {num_non_empty_rows}")

Số lượng dòng có dữ liệu trong cột 'Return Reason': 309